
@media only screen and (max-width: 477px){
  
    .navbar img{
        width: 100px !important;
        border-radius: 50px;
    }
    
    .navbar{

        background-color: whitesmoke !important;

        width: 100%;
        

    }
}



@media screen and (min-width:500px) and (max-width:798px){
    .navbar{
        color:aliceblue;
        width: 100%;
        background-color: whitesmoke !important;
    }
    
    .navbar img{
        width: 100px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        text-transform: uppercase;
        display: block;
        font-size:large;
        text-shadow: 2px 2px 3px;    
    }

}

@media screen and (min-width:799px){
    .navbar{
        color:aliceblue;
        width: 100%;
        background-color: whitesmoke !important;
    }
    
    .navbar img{
        width: 130px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 10px;
    
    }

    .navbar button:hover{
        opacity: 0.3;
    }
}

@media screen and (min-width:999px) and (max-width:1250px){
    .navbar{
        color:aliceblue;
        width: 100%;
        background-color: black !important;
    }
    
    .navbar img{
        width: 150px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 5px;
        color:white !important;
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
}



@media screen and (min-width:1250px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: black !important;
    }
    
    .navbar img{
        width: 100px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        justify-content: center;
        color:white !important;
    }

    .navbar button:hover{
        opacity: 0.3;
    }

}



/* Footer */


body {
    background: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;    
}

/* slide */
.v3-footer-blocks{
    padding: 20px 0px 20px 0px;
    color: white;
    width: 100%;
    background-color:black;
}


/* content */
.v3-h1-title > h1 {
    font-weight: initial;
    color: #a39161;
    font-size: 1.2rem;
    text-align: center;
}

.v3-form-title {
    margin: 1.1rem 0rem 1.1rem 0rem;
}
.v3-form-content {
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.v3-text-center {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .v3-h1-title > h1 {
        font-size: 2rem;
    }
    .v3-form-title {
        margin: 1.5rem 0rem 1.5rem 0rem;
    }
   
}


.foxv-ul{
    list-style: none;
}

.foxv-ul a{
    color:white;
    margin-left:5px;
    cursor:pointer;
    list-style: circle;
}

.navbar .nav-link:hover{
    border-bottom: 2px solid #3f87a6;
    transition: 0.3s;
}


.navbar .navbar-toggler {
    z-index: 1000
  }

.nav-item{

    font-size: large;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-transform: uppercase;

    border-radius: 20px; 

}



  
@media only screen and (max-width: 909px) {



    .navbar .navbar-collapse {
      background: linear-gradient(#0093E9, #80D0C7);
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center !important;


    }

    .navbar .navbar-collapse ul{

        justify-content:center;

    }

   
    .navbar-collapse{

        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        position: relative;
        line-height: 50px;
        width: 100%;
        pointer-events: none;


    }

    .navbar .navbar-collapse .collapse {
        display: flex;
        opacity: 0;
        

    }
    .navbar .navbar-collapse.collapsing[style*="height"] {
      opacity: 1;
      height: 100vh !important;
    }
    .navbar .navbar-collapse.collapsing {
      opacity: 0;
      height: 100vh;
    }
    .navbar .navbar-collapse.collapse.show {
        opacity: 1; 
        pointer-events: auto;
   
    }
    .navbar .navbar-collapse .navbar-nav {
      margin-right: initial !important;
      margin-top: auto;
      margin-bottom: auto;
    }

    .navbar-nav{
        margin-left: initial !important;
        
    }

}


