@media screen and (max-width: 477px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: whitesmoke !important;
    }
    
    .navbar img{
        width: 100px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        cursor: pointer;
    }
    
    .navbar li a:hover{
        background-color: rgb(243, 214, 214);
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
    

    .v3_header{
        background-color: whitesmoke;
        height: 350px;
        opacity: 0.6;
        margin-top: 80px;
    }

    .v3_header h1{
        font-size:25px;
        text-align: center;
        width: 95%;
        margin-left:10px;
        text-shadow: 2px 3px 5px;
        color: red;
    }

    .v3_header p{
        text-align: center;
        width:90%;
        font-weight: bold;
        margin-left: 20px;
    }

    .v3_body_img{
        padding-top: 5px;
        position: relative;
    }

    .v3_body_img img{
        width: 100%;
        height: 400px;
        position:relative;
        opacity: 0.5;
    }

    .v3_body_img p{
        display: none;
    }

    .v3_body{
        background-color: whitesmoke;
        opacity: 0.8;
    }

    .v3_body h3{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        text-shadow: 2px 3px 2px;
    }

    .v3_body ul{
        list-style-type: circle;
        color:black;
        text-shadow: 2px 2px 3px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .location_img{
        margin-top: 10px;
        background-color: whitesmoke;
        height: 450px;
        position: relative;
    }

    .location_img img{
        width: 100%;
        cursor: pointer;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        height: 400px;
        position: relative;
    }

    .location_img .location_show{
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 30%;
        text-align: center;
        transition: .5s ease;
        width: 50%;
        background-color: whitesmoke;
        border-radius: 20px;
    }

    .location_img:hover img{
        opacity: 0.3;
    }

    .location_img:hover .location_show{
        opacity: 1;
    }

    .location_show span{
        font-size: large;
        font-weight: bold;
        color:red;
        text-transform: uppercase;
    }

    .location_img button{
        position: absolute;
        top: 30px;
        left:200px;
        background-color: black;
        font-size: large;
        text-transform: uppercase;
        text-shadow: 2px 2px 3px;
    }
}


@media screen and (min-width:478px) and (max-width:798px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: whitesmoke !important;
    }
    
    .navbar img{
        width: 100px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 10px;
    
    }
    
    .navbar li a:hover{
        background-color: rgb(243, 214, 214);
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
    
    .v3_header{
        background-color: whitesmoke;
        height: 300px;
        opacity: 0.6;
        margin-top: 80px;
    }

    .v3_header h1{
        font-size:25px;
        text-align: center;
        width: 95%;
        margin-left:10px;
        text-shadow: 2px 3px 5px;
        color: red;
    }

    .v3_header p{
        text-align: center;
        width:80%;
        margin-left: 40px;
        margin-top: 10px;
    }

    .v3_body_img{
        padding-top: 5px;
        position: relative;
    }

    .v3_body_img img{
        width: 100%;
        height: 400px;
        position:relative;
        opacity: 0.5;
    }

    .v3_body_img p{
        display: none;
    }

    .location_img{
        position: relative;
        height: 600px;
    }

    .location_img img{
        width:100%;
        position: relative;
        height:580px;
        cursor: pointer;
        opacity: 1;
        display: block;
        backface-visibility: hidden;
    }

    .location_img .location_show{
        opacity: 0;
        position: absolute;
        top: 35%;
        left: 35%;
        text-align: center;
        transition: .5s ease;
        width: 40%;
        background-color:whitesmoke ;
        border-radius: 20px;
    }

    .location_img:hover img{
        opacity: 0.3;
    }

    .location_img:hover .location_show{
        opacity: 1;
    }

    .location_show span{
        font-size:large;
        font-weight: bolder;
        color:red;
        text-transform: uppercase;
    }

    .location_img button{
        position: absolute;
        width: 30%;
        top: 30px;
        left: 180px;
        font-size:large;
        background-color: black;
        text-transform: uppercase;
        opacity:0.8;
    }

}

@media screen and (min-width:799px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: whitesmoke !important;
    }
    
    .navbar img{
        width: 130px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 10px;
    
    }
    
    .navbar li a:hover{
        background-color: rgb(243, 214, 214);
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
    
    .v3_header{
        background-color: whitesmoke;
        height:250px;
        opacity: 0.7;
        margin-top: 90px;
    }

    .v3_header h1{
        text-align: center;
        width: 80%;
        margin-left:100px;
        color:red;
        text-shadow:2px 2px 5px
    }

    .v3_header p{
        width:70%;
        text-align: center;
        margin-left: 140px;
        margin-top: 20px;
        font-size: large ;
        text-shadow: 2px 2px 5px;
    }

    .v3_body_img {
        margin-top: 10px;
        position: relative;
    }

    .v3_body_img img{
        width: 100%;
        position: relative;
        height: 500px;
        opacity: 0.5;
    }

    .v3_body_img p {
        position: absolute;
        top:200px;
        left:250px;
        width: 50%;
        font-size: x-large;
        color:black;
        text-shadow: 2px 2px 5px;
        font-weight: bold;
        text-transform:uppercase;
        border: 2px solid red;
        background-color: whitesmoke;
        opacity: 0.5;

    }


    .location_img{
        position: relative;
        height: 600px;
    }

    .location_img img{
        width:100%;
        position: relative;
        height:580px;
        cursor: pointer;
        opacity: 1;
        display: block;
        backface-visibility: hidden;
    }

    .location_img .location_show{
        opacity: 0;
        position: absolute;
        top: 35%;
        left: 38%;
        text-align: center;
        transition: .5s ease;
        width: 35%;
       background-color: whitesmoke;
        border-radius: 20px;
    }

    .location_img:hover img{
        opacity: 0.3;
    }

    .location_img:hover .location_show{
        opacity: 1;
    }

    .location_show span{
        font-size:x-large;
        font-weight: bolder;
        color:red;
        text-transform: uppercase;
    }

    .location_img button{
        position: absolute;
        width: 30%;
        top: 30px;
        left: 180px;
        font-size:large;
        background-color: black;
        text-transform: uppercase;
        opacity:0.8;
    }
}

@media screen and (min-width:999px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: black !important;
    }
    
    .navbar img{
        width: 150px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 5px;
        color:white !important;
    }
    
    .navbar li a:hover{
        background-color: rgb(243, 214, 214);
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
    

    /* Body  */


    .v3_header{
        text-align: center;
        background-color: whitesmoke;
        height: 400px;
        margin-top: 130px;
    }

    .v3_header h1{
        color:red;
        text-shadow: 2px 2px 5px;
        font-size: 50px;
    }

    .v3_header p{
        margin-top: 10px;
        text-align: center;
        margin-left: 200px;
        width: 60%;
        font-size: x-large;
        text-shadow: 2px 2px 5px;
    }

    .v3_body_img{
        position: relative;
    }

    .v3_body_img img{
        width: 100%;
        height: 30%;
        position:relative;
    }

    .v3_body_img p{
        position:absolute ;
        top:300px ;
        left: 300px ;
        width: 58% ;
        font-size: 40px;
        color:red;
        text-shadow: 2px 3px 5px ;
        font-weight: bolder ;
    }
}



@media screen and (min-width:1250px){
    .navbar{
        opacity: 1;
        color:aliceblue;
        width: 100%;
        background-color: black !important;
    }
    
    .navbar img{
        width: 150px !important;
        border-radius: 50px;
    }
    
    .navbar img:hover{
        opacity: 0.5;
    }
    
    .navbar ul a{
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        font-size: x-large;
        text-shadow: 2px 2px 3px;
        margin-left: 5px;
        color:white !important;
    }
    
    .navbar li a:hover{
        background-color: rgb(243, 214, 214);
    }
    
    .navbar button:hover{
        opacity: 0.3;
    }
    
    
    /* Body  */


    .v3_header{
        text-align: center;
        background-color: whitesmoke;
        height:350px;
    }

    .v3_header h1{
        color:red;
        text-shadow: 2px 2px 5px;
        font-size: 50px;
        text-align: center;
        margin-left: 150px;
    }

    .v3_header p{
        margin-top: 10px;
        text-align: center;
        width: 60%;
        margin-left: 250px;
        font-size: x-large;
        text-shadow: 2px 2px 5px;
    }

    .v3_body_img{
        position: relative;
    }

    .v3_body_img img{
        width: 100%;
        height: 30%;
        position:relative;
    }

    .v3_body_img p{
        position:absolute;
        top:370px;
        left: 450px;
        width: 50%;
        font-size: 40px;
        color: red;
        text-shadow: 2px 3px 5px;
        font-weight: bolder;
    }

    .v3_body{
        height: 380px;
        margin-top: 30px;
        background-color: whitesmoke;
        opacity: 0.7;
    }

    .v3_body h3{
        text-align: center;
        padding-top: 15px;
        font-size: 50px;
        text-transform: uppercase;
        text-shadow: 2px 5px 2px;
    }

    .v3_body ul{
        list-style-type: circle;
        margin-left: 100px;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .location_img{
        margin-top: 20px;
        position: relative;
        height: 600px;
    }

    .location_img img{
        margin-left: 25%;
        width:50%;
        position: relative;
        height:580px;
        cursor: pointer;
        opacity: 1;
        display: block;
        backface-visibility: hidden;
    }

    .location_img .location_show{
        opacity: 0;
        position: absolute;
        top: 35%;
        left: 42%;
        text-align: center;
        transition: .5s ease;
        width: 20%;
        background-color: whitesmoke;
        border-radius: 20px;
    }

    .location_img:hover img{
        opacity: 0.3;
    }

    .location_img:hover .location_show{
        opacity: 1;
    }

    .location_show span{
        font-size: x-large;
        font-weight: bolder;
        color:red;
        text-transform: uppercase;
    }

    .location_img button{
        position: absolute;
        width: 20%;
        left: 600px;
        top:50px;
        font-size: x-large;
        background-color: black;
        text-transform: uppercase;
        opacity:0.8;
    }
}


/* Footer */

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #f8f9fa;
    --border-color: #ced4da;
    --main-color-active: #212529;
}
body {
    background: #f4f4f4;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
}

.container-fluid
{
    width: 100%;
}
.col-fluid {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
/* Navigation */
.v3-header {
    position: fixed;
    z-index: 99;
    width: 100%;
}
.v3-brand > img {
    height: 40px;
}

@media screen and (min-width: 768px)
{
    .v3-brand > img {
        height: 70px;
    }
    .v3-nav-fade-in {
        height: 90px;
    }
    .v3-nav-contact {
        height: 90px;
    }
}


/* slide */

.v3-footer-blocks{
    padding: 20px 0px 20px 0px;
    color: white;
    width: 100%;
    background-color: #212529;
}

.v3-carousel {
    position: relative;
}

.carousel-control-prev {
    left: 0;
    top: 20%;
}
  
.carousel-control-next {
    right: 0;
    top: 20%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.scroll-down-button > img {
    width: 50px;
    height: auto;
}
.scroll-down-button {
    position: absolute;
    bottom: 10%;
    right: 50%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
}

/* content */
.v3-h1-title > h1 {
    font-weight: initial;
    color: #a39161;
    font-size: 1.2rem;
    text-align: center;
}

.v3-form-title {
    margin: 1.1rem 0rem 1.1rem 0rem;
}
.v3-form-content {
    margin: 0.5rem 0rem 0.5rem 0rem;
}
.v3-text-center {
    text-align: center;
}
.navbar-collapse.show{
    padding-left: 1rem;
    opacity: .95;
    margin: .45rem -1rem 0rem -1rem;

}

@media screen and (min-width: 768px) {
    .v3-h1-title > h1 {
        font-size: 2rem;
    }
    .v3-form-title {
        margin: 1.5rem 0rem 1.5rem 0rem;
    }
   
}

/* animation */
.v3-animation-navbar-collapse-show {
	opacity: 1;
	animation-name: animationFadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-duration: 0.4s;
}

@keyframes animationFadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .95;
	}
}

.foxv-ul{
    list-style: none;
}

.foxv-ul a{
    color:white;
    margin-left:5px;
    cursor:pointer;
    list-style: circle;
}
