<!DOCTYPE html>
<html lang="en">
<head>
    <title>V3 Manufacturing | {% block title%}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/v3-main.js"></script>
</head>

<body>
    <div class="v3-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-fluid">
                    <div class="v3-nav">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#v3_menus">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="nav-brand v3-brand m-auto" href="/"><img src="/static/img/Small.png"></a>
                            <div class="collapse navbar-collapse v3-animation-navbar-collapse-show" id="v3_menus">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Services">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Industries">Industries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Equipment">Equipment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Location">Location</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Company">Company</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="v3-nav-fade-in"></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

<div class="v3-content-body">
{% block content_body %}{%endblock%}
</div>
</body>


<footer>
    <div class="v3-footer-blocks">
        <div class="container-fluid">
            <div class="v3-footer-top">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p>Location:1264 Alma Ct, San Jose, CA 95112</p>
                        <p>Contact: (408) 320-1223</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="v3-footer-group">
                            <div class="v3-footer-title">
                                <h5>MENU</h5>
                            </div>
                            <ul class="foxv-ul">
                                <li>
                                    <a href="">Services</a>
                                </li>
                                <li>
                                    <a href="">Industries</a>
                                </li>
                                <li>
                                    <a href="">Industries</a>
                                </li>
                                <li>
                                    <a href="">Equipment</a>
                                </li>
                            </ul>
                        </div><!-- foxv-footer-group -->
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-bot-contract">
                                <span>Phone: (408) 320-1223</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-bot-contract">
                                <span>Email: v3.com</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-bot-contract">
                                <span>P© 2021 V3 Manufacturing. All rights reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>